.env
wordpress-plugins/*
wordpress-themes/*
wordpress-languages/*
logs/*
data/*
!wordpress-plugins/.gitkeep
!wordpress-themes/.gitkeep
!logs/.gitkeep
!data/uploads
data/uploads/*
!data/uploads/.gitkeep

# plugins from 邦訊
!wordpress-plugins/elementor
!wordpress-plugins/ninja-tables
!wordpress-plugins/ninja-tables-pro

# themes from 邦訊
!wordpress-themes/astra

# languages of plugins from 邦訊
!wordpress-languages/plugins