.env
wordpress-admin/*
wordpress-plugins/*
wordpress-themes/*
wordpress-languages/*
logs/*
data/*
!wordpress-admin/.gitkeep
!wordpress-plugins/.gitkeep
!wordpress-themes/.gitkeep
!wordpress-languages/.gitkeep
!logs/.gitkeep
!data/uploads
data/uploads/*
!data/uploads/.gitkeep

# plugins from 邦訊
!wordpress-plugins/elementor
!wordpress-plugins/ninja-tables
!wordpress-plugins/ninja-tables-pro
!wordpress-plugins/wp-fastest-cache

# themes from 邦訊
!wordpress-themes/astra

# languages of plugins from 邦訊
!wordpress-languages/plugins

# languages of wordpress
!wordpress-languages/zh_TW.mo

# admins from 邦訊
!wordpress-admins/js/wp-fullscreen-stub.js
!wordpress-admins/js/wp-fullscreen-stub.min.js